doctype html 
html(lang="ja")
    head 
        meta(charset="utf-8")
        meta(name="robots" content="noindex,nofollow")
        title lontern 
        link(rel="stylesheet" href="/css/stylesheet.css")
    body
        div(class="maypage_main")
            div(class="header") 
                div(class="pagetitle") 
                    strong #{you}
                    a  のマイページ
                div(class="topbtn")
                    a(href="/index") 
                        img(src="/images/lontern_logo_w.png" width="100px")

            div(class="session_list")
                div(class="band")
                    h3 セッションリスト
                table(class="session_table")
                    tr 
                    th(class="session_name") セッション名
                    th(class="session_system") システム
                    th(class="session_anonymous") PC名
                    th(class="session_GM") GM
                    th(class="session_status") ステータス

                    each room in rooms 
                        tr
                            td 
                                a(href="/sessionIndex?sessionname=" + room.name) #{room.name}
                            td 
                                a #{room.system}
                            td 
                                if room.Owner == you
                                    a -
                                else
                                    a #{room.character_name}
                            td 
                                a #{room.Owner}
                            td 
                                a #{room.status} 
                
                //-div(class="input_space")
                    form(action="/nameedit" method="post")
                        h3 ユーザーネームの変更
                        table
                            tr 
                                td   
                                    p
                                        input(type="text" name="name" value="" size="24" required)
                                td
                                    input(class="signup_btn" type="submit" value="変更する")    

                //-button(onclick="location.href='/index'") 上部に戻る
