doctype html 
html(lang="ja")
    head 
        meta(charset="utf-8")
        meta(name="robots" content="noindex,nofollow")
        title lontern 
        link(rel="stylesheet" href="/css/stylesheet.css")
        link(rel="icon" href="/images/favicon.png")
        link(rel="apple-touch-icon" href="/images/favicon.png")
        //-meta(name="viewport" content="width=device-width,initial-scale=1")
    body 
        - console.log("session index page")
        if passmatch == "ng"
            script window.alert('パスワードが間違っています。');
        mixin itemSet(item, setting)
            tr 
                td #{item}
                td :
                td 
                    if item == 'パスワード'
                        if setting == null || setting == ""
                            a なし
                        else 
                            a あり
                    else if item == '観戦' || item == '匿名発言' || item == '秘話発言'
                        if setting == 0
                            a 不可
                        else 
                            a 許可
                    else 
                        a #{setting}

        div(class="sessionIndex_main")
            div(class="header") 
                div(class="pagetitle") #{rooms.sessionname}
                div(class="topbtn")
                    a(href="/index") 
                        img(src="/images/lontern_logo_w.png" width="100px")
            table 
                colgroup 
                    col(width="100")
                    col(width="30")
                +itemSet('セッション名', rooms.sessionname)
                +itemSet('システム', rooms.system)
                +itemSet('主催者', rooms.owner)
                //- +itemSet('参加人数', rooms.personNum)
                +itemSet('パスワード', rooms.pass)
                +itemSet('観戦', rooms.audience)
                +itemSet('匿名発言', rooms.anonymous)
                +itemSet('秘話発言', rooms.secret)

            div(class="overview")
                a セッション概要
                div(class="overview_main") #{rooms.overview} 
            - var idid = 0
            - var didApply = 0
            - for(let i = 0; i < members.length; i++)
                if members[i].memberId == you.id 
                    - idid = 1
                    - didApply = 1
                    break 
            if rooms.ownerId == you.id
                - idid = 1
                - didApply = 1
            if rooms.status == "進行中" || rooms.status == "終了"
                - idid = 1
            
            if didApply == 1
                div(class="menue")
                    section(class="sessionbtn")
                        a(class="buttoncontents" href='/session/' + rooms.id + '?pageNum=' + page) 
                            strong セッションページへ
                    section(class="sessionbtn")
                        a(class="buttoncontents" href='/editor?sid='+ rooms.id ) 
                            strong 編集
            else 
                dsection(class="sessionbtn")
                    a(href='/session/' + rooms.id + '?pageNum=' + page) 
                        strong セッションページへ

            if idid == 0
                div(class="apply")
                    div(class="apply_contents")
                        form(class="inputinfo" action="/apply" method="post" enctype="multipart/form-data" onSubmit="return check();")
                            div(class="icon")
                                label(class="uploadbtn")
                                    a(class="preview" id="preview")
                                        img(src="/images/Noimage.png" width="150px" height="150px")
                                    input(type="file" id="icon" accept="image/*" name="icon" required)
                            div 
                                label
                                    p 名前
                                    input(name="character_name" size="22" required)
                                label 
                                    p 自己紹介(任意)
                                    textarea(name="introduction" rows="4" cols="24") よろしくおねがいします。
                                    if members.length == rooms.personNum 
                                        a(class="atention")
                                            strong ※ 観戦での入室になります。
                                        a(class="kansen")
                                            input(type="checkbox" name="kansen" checked="checked" value="audience")
                                    else if rooms.audience == 1
                                        p
                                            label
                                                input(type="checkbox" name="kansen" value="audience")
                                                a 観戦
                                    if rooms.pass != "" 
                                        label
                                            a pass 
                                            input(id="pass" type="password" name="pass" size="15" )
                                            
                                    input(class="sessionname" name="sid" size="18" value=rooms.id)
                                    div(class="center")
                                        input(class="applybtn" type="submit" value="参加する")
               

        script(type="text/javascript" src="js/icon.js") 
                                  