<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lontern</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="sessionIndex_main">
        <div class="header">
            <%= rooms.name %>
        </div>
        <table>
            <colgroup>
                <col width="100">
                <col width="30">
            </colgroup>
            <tr>
                <td>セッション名</td>
                <td>:</td>
                <td><%= rooms.name %></td>
            </tr>
            <tr>
                <td>システム</td>
                <td>:</td>
                <td>
                    <%= rooms.system %>
                </td>
            </tr>
            <tr>
                <td>主催者</td>
                <td>:</td>
                <td><%= rooms.Owner %></td>
            </tr>
            <tr>
                <td>参加人数</td>
                <td>:</td>
                <td><%= rooms.personNum %>人</td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>:</td>
                <td>
                    <% if (rooms.pass==null){ %>
                        なし
                        <% } else { %>
                            あり
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>観戦</td>
                <td>:</td>
                <td><% if (rooms.spectator==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>匿名発言</td>
                <td>:</td>
                <td><% if (rooms.anonymous==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>秘話発言</td>
                <td>:</td>
                <td><% if (rooms.secret==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
        </table>
        <div class="overview">
            <a>セッション概要</a>
            <div class="overview_main"><%=rooms.overview%></div>
        </div>
        <div class="apply">
            <div class="apply_contents">
                <div class="icon">
                    <img src="image/icon.png" width="145" height="150">
                    <input class="uploadbtn" type="button" value="画像を選択">
                </div>
                <form class="inputinfo">
                    <div>名前:</div>
                    <input name="name" size="22">
                    <div>自己紹介(任意):</div>
                    <textarea name="introduction" rows="4" cols="24"></textarea>
                    <div>
                        <input type="checkbox" name="kansen">
                        観戦
                    </div>
                    <div class="center"><input class="applybtn" type="submit" formaction="session.html" value="参加する"></div>
                </form>
            </div>
        </div>
        <div class="topbtn">
            <button onclick="location.href='/index'">TOPに戻る</button>
        </div>
    </div>
</body>
</html>