<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lontern</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <div class="sessionIndex_main">
        <div class="header">
            <%= rooms.name %>
        </div>
        <table>
            <colgroup>
                <col width="100">
                <col width="30">
            </colgroup>
            <tr>
                <td>セッション名</td>
                <td>:</td>
                <td><%= rooms.name %></td>
            </tr>
            <tr>
                <td>システム</td>
                <td>:</td>
                <td>
                    <%= rooms.system %>
                </td>
            </tr>
            <tr>
                <td>主催者</td>
                <td>:</td>
                <td><%= rooms.Owner %></td>
            </tr>
            <tr>
                <td>参加人数</td>
                <td>:</td>
                <td><%= rooms.personNum %>人</td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>:</td>
                <td>
                    <% if (rooms.pass==null){ %>
                        なし
                        <% } else { %>
                            あり
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>観戦</td>
                <td>:</td>
                <td><% if (rooms.spectator==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>匿名発言</td>
                <td>:</td>
                <td><% if (rooms.anonymous==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
            <tr>
                <td>秘話発言</td>
                <td>:</td>
                <td><% if (rooms.secret==0){ %>
                        不可
                    <% } else { %>
                        許可
                    <%}%>
                </td>
            </tr>
        </table>
        <div class="overview">
            <a>セッション概要</a>
            <div class="overview_main"><%=rooms.overview%></div>
        </div>
        <% 
            //console.log(members);
            var idid = 0;
            for(let i = 0; i < members.length; i++){
                if(members[i].memberId == you.id){
                    idid = 1;
                    break;
                }
            }
            //console.log(idid);
            if(idid == 1){ 
        %>
            <div class="sessionbtn"><button onclick="location.href='/session/<%=rooms.name%>/<%=page%>'">セッションページへ</button></div>
        <%}else{%>          
            <div class="apply">
                <div class="apply_contents">
                    <form class="inputinfo" action="/apply" method="post" enctype="multipart/form-data">
                        <div class="icon">
                        <label class="uploadbtn">
                            <a class="preview" id="preview">
                                <img src="/images/Noimage.png" width="150px" height="150px">
                            </a>
                            <input type="file" id="icon" accept="image/*" name="icon" required>
                            </label>
                        </div>
                        <div>
                            <label><p>名前:</p>
                            <input name="character_name" size="22" required></label>
                            <label><p>自己紹介(任意):</p>
                            <textarea name="introduction" rows="4" cols="24"></textarea></label>
                            <p><label><input type="checkbox" name="kansen"> 観戦</label></p>
                            <input class="sessionname" name="sessionname" size="22" value="<%= rooms.name %>">
                            <div class="center"><input class="applybtn" type="submit" value="参加する"></div>
                        </div>
                    </form>
                </div>
            </div>
        <%}%>
        <div class="topbtn">
            <button onclick="location.href='/index'">TOPに戻る</button>
        </div>
    </div>
    <script type="text/javascript" src="js/icon.js"></script>
    <script type="text/javascript" src="js/session.js"></script>
</body>
</html>